 <div class="center hero-unit">
    <h1>Welcome to the Social app</h1>

    <h2>
      The best way of keep in touch with friends.
    </h2>
<%= link_to "Sign up now!", new_user_registration_path,class: "btn btn-large btn-primary" %>
<%= link_to "login", new_user_session_path,class: "btn btn-large btn-primary" %>