
<% if activity.trackable %>
<div class="user-box">
<%= image_tag activity.owner.avatar.url(:thumb), class: 'like_profile' %>
<%= link_to activity.owner.name, activity.owner %>

liked a <%= link_to activity.trackable.likeable.class, activity.trackable.likeable %>
</div>
<div class="like_post">
<%= render 'posts/post', post: activity.trackable.likeable %>
</div>
<% end %>
