/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";

@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {

  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
 }

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
	margin-top: 4px;
    img { width: 100% }
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}



.grid-user-list .btn { margin-top: 10px;}
.grid-user-list .nomargin { margin: 0px;}
.grid-user-list { margin-bottom: 15px;}




.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    border-color: #FFF;
    border-width: 2px;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #6699CC;
}

.arrowalign {
    top: 50%;
}

.arrowalign:hover {
    vertical-align: middle;
}

.carousel-control {
    color: #fff;
    top: 50%;
    bottom: auto;
    padding-top: 0px;
    width: 30px;
    height: 30px;
    text-shadow: none;
    opacity: 0.9;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}


.name {
  color: #fff;
}
form{
  font-size: 20px;
}
.profile{
    width: 70px;
    height: 55px;
    float: left;
    padding: 4px;
}
.like{
    color: #990033;
    font-weight: bold;
    padding: 5px;
    float: right;
}
.unlike{
    color: #393f4c;
    font-weight: bold;
    padding: 5px;
    float: right;
}
.comments{
    float: left;
    padding: 5px;
}
.user-box{
    padding: 10px;
}
.likes{
    padding: 5px;
}
.like_post{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.like_profile{
    width: 30px;
    height: 30px;
    float: left;
    padding: 4px;
}
.profile_post{
    float: left;
    padding: 4px;
    width: 40px;
    height: 40px;
}

.activity_feed{
    padding: 4px;
    border-top: 1px solid #eaeaea;
}
.feed{
    padding-top: 90px;
}
.user{
    padding: 4px;

    border-top: 1px solid #eaeaea;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}





/* navigation */

$bgDefault      : #364cba;
$bgHighlight    : #f7a505;
$colDefault     : #f3fafb;
$colHighlight   : #0f0c0c;
$dropDown       : false;

.navbar-fixed-top 
{
   height: 50px; /* Whatever you want. */
}

.navbar-default {
                   background-color: $bgDefault;
                   border-color: $bgHighlight;
                
                 .navbar-brand {
                                 color: $colDefault;
                                
                                 &:hover, &:focus { 
                                                    color: $colHighlight;
                                                   }
                                }
                   .navbar-text {
                                 color: $colDefault;
                                }
                    .navbar-nav {
                                   > li {
                                         > a {
                                               color: $colDefault;
                                               &:hover,  &:focus {
                                                                   color: $colHighlight; 
                                                                  }
                                              }
                                               @if $dropDown {
                                                               > .dropdown-menu {
                                                                                  background-color: $bgDefault;

                                                                               > li > a {

                                                                                 color: $colDefault;
                                                                                    &:hover,  &:focus {
                                                                                                       color: $colHighlight;
                                                                                                       background-color: $bgHighlight; 
                                                                                                       }
                                                                                         }

                                                                                 .divider {
                                                                                            background-color: $bgHighlight;
                                                                                           
                                                                                          }
                                                                                  }
                                                             }
                                       }
                    
                                   > .active {
                                             > a, > a:hover, > a:focus {
                                                                        color: $colHighlight;
                                                                        background-color: $bgHighlight; 
                                                                        }
                                           }
         
                                   > .open {
                                            > a, > a:hover, > a:focus {
                                                                        color: $colHighlight;
                                                                        background-color: $bgHighlight;
                                                                      }
                                        }
                               }

                   .navbar-toggle {
                                    border-color: $bgHighlight;

                                                   &:hover, &:focus {
                                                                     background-color: $bgHighlight; 
                                                                    }
                                                          .icon-bar {
                                                                     background-color: $colDefault; 
                                                                    }
                                  }
    
                  .navbar-collapse,
                                  .navbar-form {
                                                  border-color: $colDefault; 
                                               }
                                  .navbar-link {
                                                  color: $colDefault;
                                                                &:hover {
                                                                          color: $colHighlight;
                                                                        }
                                               }
              }

@media (max-width: 767px) {
                            .navbar-default .navbar-nav .open .dropdown-menu {

                                                                       > li > a {
                                                                              color: $colDefault;
                                                                              &:hover, &:focus {
                                                                                                 color: $colHighlight; 
                                                                                                }
                                                                                 }

                                                                       > .active {
                                                                       > a, > a:hover, > a:focus {
                                                                                                 color: $colHighlight;
                                                                                                 background-color: $bgHighlight;
                                                                                                 }
                                                                                 }
                                                                              }

                          }



.dropdown-toggle{ margin-top:-10px;}